<mat-toolbar class="menu-toolbar" color="primary">
    <mat-toolbar-row>
        <mat-icon *ngIf="collapsed" (click)="menu.emit()">menu</mat-icon>
        <span>Your Notes</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="usermenu">
            <mat-icon>account_circle</mat-icon>

        </button>
        <mat-menu #usermenu>
            <button class="usermenu-button" mat-icon-button (click)="logoutUser()">
                <mat-icon>logout</mat-icon>
                <span>logout</span>
            </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>