<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenavstyle mat-elevation-z15" [opened]="!smallSize" [mode]="smallSize?'over':'side'">
        <mat-toolbar color="primary">
            <!-- <mat-icon *ngIf="smallSize" (click)="sidenav.close()">close</mat-icon> -->

            Notes
        </mat-toolbar>
        <mat-list role="list">
            <ng-container *ngFor="let note of NotesData">
                <a mat-list-item role="listitem" [routerLink]="note._id">{{note.title}}</a>
            </ng-container>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar [collapsed]="smallSize" (menu)="sidenav.toggle() "></app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>

        </div>
    </mat-sidenav-content>


</mat-sidenav-container>