.signin-page {
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);

  height: 100vh;
}

form > h1,
form > p {
  text-align: center;
}
.heading {
  font-weight: 600;
  font-size: 2rem;
}
.signin-form {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background-color: #fff;
}
.signin-form input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
}

button[type="Submit"] {
  padding: 0.7rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  align-self: center;
  width: 100px;
  background-color: #00a82d;
  color: #fff;
  font-size: 1rem;
}
button[type="Submit"]:hover {
  transform: scale(1.2);
  background-color: #008f26;
}

.form-last {
  text-align: center;
  margin: 2rem 2rem 0rem 2rem;
  font-weight: 300;
}
div a {
  text-decoration: none;
  color: #02a72e;
  cursor: pointer;
}
.error {
  color: #a51a10;
}

@media screen and (max-width: 576px) {
  .signin-page {
    background-color: #eee;
    background-image: none;
  }
  .signin-form {
    width: 100%;
    height: 100%;
  }
}
