<div class="signin-page">
    <form class="signin-form" [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm)">
        <!-- {{ signUpForm.value | json }} -->

        <h1 class="heading">YourNotes</h1>
        <p>Remember everything important</p>

        <input type="email" placeholder="Email" formControlName="email" />
        <!-- providing assurance that it will not will be null -->
        <!-- error test for email -->
        <div class="error" *ngIf="emailid?.invalid &&(emailid?.dirty || emailid?.touched)">
            <div *ngIf="emailid?.errors?.['required']">
                Please enter the email
            </div>
            <div *ngIf="emailid?.errors?.['email']">
                Please enter valid email
            </div>
        </div>
        <input type="password" placeholder="Password" formControlName="password" />
        <!-- error text for password  -->
        <div class="error" *ngIf="password?.invalid &&(password?.touched || password?.dirty)">
            <div *ngIf="password?.errors?.['required']">
                Please enter the password
            </div>

        </div>
        <button type="submit" [disabled]="signInForm.invalid"
            [ngStyle]="{'background-color':signInForm.invalid?'grey':null}">Login</button>
        <div class="form-last">
            <p>Already have an account?</p>
            <a (click)="redirect()">Sign Up</a>
        </div>
    </form>
</div>